<% layout('layouts/boilerplate') %> 
<div class="row">
    <div class="col-6 offset-3">

        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%=err.message%></h4>
            <p>You must have typed or provided an invalid input.</p>
            <hr>
            <p class="mb-0">Please go back and try again.</p>
    </div>
</div>
</div>