<% layout('layouts/boilerplate') %> 

<div class="row">
    <h1 class="text-center">New Story</h1>
    <div class="col-6 offset-3">
        <form action="/books" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="name">Story Title</label>
                <input class="form-control"type="text" id="name" name="book[name]" placeholder="Story Title" required>
                <div class="valid-feedback">Looks Good!</div>
            </div> 
            <div class="mb-3">
                <label class="form-label" for="author">Author</label>
                <input class="form-control" type="text" id="author" name="book[author]" placeholder="Author" required>
                <div class="valid-feedback">Looks Good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image URL</label>
                <input class="form-control" type="text" id="image" name="book[image]" placeholder="Image URL" > 
                <div class="valid-feedback">Looks Good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="category">Category</label>
                <select class="form-control" name="book[category]" id="category">
                <% for(let category of categories) {%>
                    <option value="<%=category%>"><%=category%></option>
                <%}%>
            </select>
            <div class="valid-feedback">Looks Good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="book[description]" placeholder="short description" required></textarea>
                <div class="valid-feedback">Looks Good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="storyText">Story Text</label>
                <textarea class="form-control" type="text" id="storyText" name="book[storyText]" placeholder="Write or copy/paste your Story here" required></textarea>
                <div class="valid-feedback">Looks Good!</div>
            </div>
         <button class="btn btn-success mb-3">Add Story</button>
        </form>
        <a href="/books">All Stories</a>
    </div>
</div>
 

